@page "/buckets/{BucketUrl}"

@using Myvas.AspNetCore.TencentCos

@inject ITencentCosHandler _cosHandler
@inject IHttpContextAccessor _httpContextAccessor;

<div class="jumbotron">
    <h1>Objects in @Model.Name</h1>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h4>@BucketUrl</h4>
        <dl>
            <dt>EncodingType</dt>
            <dd>@Model.EncodingType</dd>
            <dt>Prefix</dt>
            <dd>@Model.Prefix</dd>
            <dt>Marker</dt>
            <dd>@Model.Marker</dd>
            <dt>MaxKeys</dt>
            <dd>@Model.MaxKeys</dd>
            <dt>IsTruncated</dt>
            <dd>@Model.IsTruncated</dd>
        </dl>
    </div>
    @foreach (var item in Model.Contents)
    {
        var itemUrl = new Uri(new Uri(BucketUrl), item.Key);
        var openItemUrl = "/cos/open?url=" + Uri.EscapeDataString(itemUrl.AbsoluteUri);

        <div class="col-md-4 mb-4">
            <div class='card @(item.Size=="0"?"":"card-success")'>
                <div class="card-header text-break" title="@item.Key">
                    @item.Key
                </div>
                <div class="card-body">
                    <div class="text-left">
                        @if (item.GetSize() == 0)
                        {
                            <div class="text-break">@itemUrl</div>
                        }
                        else
                        {
                            <div class="text-break">
                                <a href='@openItemUrl'>@itemUrl</a>
                            </div>
                        }
                    </div>
                    <hr />
                    <dl>
                        <dt>Key</dt>
                        <dd class="text-break">@item.Key</dd>
                        <dt>ETag</dt>
                        <dd>@item.ETag</dd>
                        <dt>Size</dt>
                        <dd>@item.Size</dd>
                        <dt>StorageClass</dt>
                        <dd>@item.XCosStorageClassShortName</dd>
                        <dt>LastModified</dt>
                        <dd><i>@item.GetLastModified().ToLocalTime()</i></dd>
                    </dl>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string BucketUrl { get; set; }

    private ListBucketResult Model = new ListBucketResult();

    static string queryStringFromFirstRender = null;
    protected override async Task OnInitializedAsync()
    {
        //if (queryStringFromFirstRender != null)
        //{
        //    BucketUrl = queryStringFromFirstRender;
        await RefreshAsync();
        //    queryStringFromFirstRender = null;
        //}
        //else
        //{
        //    var query = _httpContextAccessor.HttpContext.Request.Query;
        //    queryStringFromFirstRender = query["q"];
        //    //BucketUrl = queryStringFromFirstRender;
        //    //await RefreshAsync();
        //}
    }

    private async Task RefreshAsync()
    {
        var url = Uri.UnescapeDataString(BucketUrl);
        Model = await _cosHandler.AllObjectsAsync(url, "", "");
        Debug.WriteLine("*****************");
        Debug.WriteLine("Run AllObjectsAsync(...)");
        Debug.WriteLine("*****************");
    }
}
