@model Myvas.AspNetCore.TencentCos.ListAllMyBucketsResult
@{
    ViewData["Title"] = "All Buckets";
}

<div class="jumbotron">
    <h1>All Buckets</h1>
</div>
<div class="row">
    <div class="col-12 text-center">
        <div class="d-flex flex-column justify-content-center">
            <h2>Owner</h2>
            <dl>
                <dt>Id</dt>
                <dd>@Model.Owner.Id</dd>
                <dt>DisplayName</dt>
                <dd>@Model.Owner.Id</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model.Buckets)
    {
        var url = item.GetBucket().ToHttps("");

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    @item.Name
                </div>
                <div class="card-body">
                    <div class="text-break"><a href='@Url.Action("AllObjects","Home", new { url = url})'>@url</a></div>
                    <hr />
                    <dl>
                        <dt>Name</dt>
                        <dd>@item.Name</dd>
                        <dt>Location</dt>
                        <dd>@item.Location</dd>
                        <dt>CreationDate</dt>
                        <dd><i>@item.GetCreationDate().ToLocalTime()</i></dd>
                    </dl>
                </div>
            </div>
        </div>
    }
</div>
